@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    url("fonts/montserrat-v15-latin-regular.woff") format("woff");
}

body {
  margin: 0px;
  padding: 0;
  font-family: "fonts/static/Montserrat-LightItalic.ttf";
  overflow-x: hidden;
  background-color: white;
}

.hero-image {
  width: calc(100vw);
  height: calc( 56.25vw);
  background-size: cover;
  padding: 0px;
}
@keyframes slideInLeft {
  from {
    transform: translateX( -300px)
  }
  to {
    transform: translateX(0)
  }
}
.content {
  color: white;
  position: absolute;
  width: 500px;
  font-size: clamp(3px, 3vw, 20px);
  text-shadow: 3px 3px 3px black;
  margin-top: 70px;
  margin-left: 50px;
  animation-name: slideInLeft;
  animation-duration:500ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction:normal ;
  animation-fill-mode: none;
}
.content:hover {
  text-decoration: transparent;
}
.navigation {
  background-color: transparent;
  top: 16px;
  right: 32px;
  position: absolute;
}
.menu-link {
  text-decoration: none;
  color: white;
  margin-left: 16px;
}
.menu-link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
}
.logolambo {
  position: absolute;
  left: 32px;
  top: 16px;
  padding-right: 0px;
  width: 50px;
  background: transparent;
  border: none;
  margin-left: 30px;
  font-size: clamp(1px, 3vw, 20px);
}
.information {
  position: absolute;
  color: white;
  flex-direction: column;
  align-items: left;
  margin-left: 50px;
  margin-top: 350px;
  text-shadow: 2px 2px 2px black;
  font-size: clamp(5px, 3vw, 20px);
  animation-name: slideInLeft;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction:normal ;
  animation-fill-mode: none;
  width: calc(100vw);
  height: calc( 56.25vw );
}
.box {
  flex-direction: column;
  font-size: 5px;
  margin-right: 32px;
}

.box p {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.box h1 {
  margin-bottom: 4px;
}
.neuer_content {
  min-height: 400px;
  padding: 10px;
  position: sticky;
}
.neuer_content .container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.neuer_content .links {
  display: flex;
  flex-direction: column;
  width:40%;
  font-size: 18px;
  color: black;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.neuer_content .rechts img {
  width: calc(100vw* 0.5);
  height: calc( 56.25vw * 0.5);
  background-color: white;
  border-radius: 3%;
  margin-top: 0px;
  margin-right: 30px;
  margin-left: 30px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  box-shadow: 10px 10px 10px rgb(161, 161, 161);

}
.neuer_content .title {
  color: black;
  margin-top: 0px;
}
.content_2 {
  min-height: 400px;
  padding: 10px;
}
.content_2 .links img {
  width: calc(100vw* 0.5);
  height: calc( 56.25vw * 0.5);
  background-color: white;
  box-shadow: 10px 10px 10px rgb(161, 161, 161);
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 3%;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.content_2 .rechts {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 18px;
  color: black;
  margin-left: 30px;
}
.content_2 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content_2 .title {
  display: flex;
  margin-right: 0px;
  color: black;
  justify-content: center;
  margin-left: 400px;
}
.content_3 {
  min-height: 400px;
  padding: 0px;
}
.content_3 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.content_3 .links {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 18px;
  color: black;
  margin-left: 30px;
  margin-bottom: 20px;
}
.content_3 .rechts img {
  width: calc(100vw* 0.5);
  height: calc( 56.25vw * 0.5);
  background-color: white;
  box-shadow: 10px 10px 10px rgb(161, 161, 161);
  border-radius: 3%;
  margin-right: 30px;
  margin-left: 30px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.content_3 .title {
  color: black;
  margin-left: 20px;
  background-color:#a0cff0;
}
.back-video {
  position: absolute;
  z-index: -1500;
  width: calc(100vw);
  height: calc(56.25vw);
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height:auto;
  }
}
@media (max-aspect-ratio 16/9){
  .back-video {
    width:auto;
    height:100%;
  }
}
@media (max-width: 1121px) {
  .neuer_content .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1121px) {
  .content_2 .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 1121px) {
  .content_3 .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1121px) {
  .neuer_content .links {
    width: 90%;
    margin-left: 0;
  }
  .neuer_content .rechts img {
    margin-right: 0px;
    align-items: center;
  }
  .content_2 .rechts {
    width: 90%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .content_2 .links img {
    margin-right: 0px;
    align-items: center;
    margin-bottom: 0px;;
  }
  .content_3 .links {
    width: 90%;
    margin-left: 0;
  }
 .content_3 .rechts img {
  align-items: center;
 }
}
@media (min-width: 1285px) {
  .hero-image {
  }
}
@media (max-width: 834px) {
  .information {
   display: none;
  }
}
.video-content {
  z-index: 100;
}
.exterior {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "fonts/static/Montserrat-LightItalic.ttf";
}
.Überblick {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "fonts/static/Montserrat-LightItalic.ttf";
}
.Interieur {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "fonts/static/Montserrat-LightItalic.ttf";
}